.contacts-content {
    display: flex;
    height: 100dvh;
    max-width: 1920px;
    max-height: 1080px;
}

.scrollable-overlay {
    max-height: 100dvh;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 50px;
  }

.body-contacts {
    max-height: 1080px;
    max-width: 1920px;
}

.display-none {
    display: none;
}

.contacts-sidebar-container {
    display: flex;
    flex-direction: column;
    width: 456px;
    min-width: 456px;
    margin-top: 96px;
    margin-left: 232px;
    padding-top: 20px;
    height: 100dvh;
    background-color: white;
}

.contacts-sidebar-scrollbar {
    width: 100%;
    background-color: white;
    scrollbar-width: thin;
    scrollbar-color: #a8a8a8 white;
}

.edit-delete-contact-button {
    display: none;
}

.contact-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-list-fix-container {
    position: fixed;
    top: 60px;
    width: 430px;
    height: 160px;
    z-index: 3;
}

.contact-list p {
    width: 352px;
    height: 58px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 36px;
    padding-left: 36px;
    font-weight: 400;
    font-size: 20px;
}

.add-new-contact-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 4;
}

.add-new-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22.5px;
    width: 352px;
    height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 16px;
    transition: box-shadow 0.2s ease-in-out;
    z-index: 10;
}

.add-new-contact-btn:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.3);
}

.add-new-contact-btn p {
    font-weight: 700;
    font-size: 21px;
    color: white;
}

.contact-list-seperator {
    width: 352px;
    height: 1px;
    border-radius: 3px;
    background-color: #d1d1d1;
    margin-top: 8px;
    margin-bottom: 8px;
}

.contact-card {
    width: 352px;
    height: 78px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 35px;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;
}

.contact-card:hover {
    background-image: linear-gradient(to bottom, #f9f9f9, #f0f0f0);
    color: black;
}

.contact-card-activated {
    background-color: rgba(42, 54, 71, 1);
    color: white;
}

.contact-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    width: 42px;
    height: 42px;
    background-color: #FF7A00;
    border: 2px solid white;
    border-radius: 100%;
    color: white;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info span {
    font-weight: 400;
    font-size: 20px;
}

.contact-info a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(41, 171, 226, 1);
}

.contacts-right-main-container {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    width: 1211px;
}

.contacts-side-headline {
    margin-top: 206px;
    margin-left: 60px;
    width: 569px;
    height: 73px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.contacts-side-headline h1 {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 61px;
}

.contacts-side-headline h3 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 27px;
}

.contacts-headline-seperator {
    height: 59px;
    width: 3px;
    border-radius: 3px;
    background-color: rgba(41, 171, 226, 1);
}

.contacts-headline-seperator-mobile {
    display: none;
}

.contacts-overlay-container {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.7s ease-in, opacity 0.7s ease-out;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 461px;
    height: 364px;
    padding-top: 311px;
    gap: 21px;
    margin-left: 60px;
}

.contacts-overlay-container.active-side-overlay {
    transform: translateX(0);
    opacity: 1;
}

.contacts-overlay-container.hide-side-overlay {
    display: none;
}

.contacts-overlay-container span {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    gap: 59px;
}

.contacts-overlay-header {
    display: flex;
    width: 461px;
    height: 120px;
    gap: 54px;
}

.contacts-overlay-user-profile {
    background-color: #FF7A00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: 500;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid white;
    gap: 10px;
}

.contacts-info-container {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    width: 287px;
    height: 88px;
    gap: 8px;
}

.contacts-info-headline-container {
    width: 287px;
    height: 56px;
    gap: 5px;
}

.contacts-info-container h3 {
    font-size: 47px;
    font-weight: 500;
}

.contacts-overlay-action-buttons-container {
    display: flex;
    gap: 13px;
}

.contacts-overlay-action-buttons-container p {
    font-weight: 400;
    font-size: 16px;
}

.contacts-overlay-edit-container {
    cursor: pointer;
    display: flex;
    gap: 8px;
}

.contacts-overlay-edit-container:hover {
    color: rgba(41, 171, 226, 1);
}

.contacts-overlay-edit-container img {
    filter: brightness(0) saturate(100%);
}

.contacts-overlay-edit-container:hover img {
    filter: brightness(0) saturate(100%) invert(55%) sepia(95%) saturate(730%) hue-rotate(165deg) brightness(92%) contrast(89%);
}

.contacts-overlay-delete-container {
    cursor: pointer;
    display: flex;
    gap: 8px;
}

.contacts-overlay-delete-container:hover {
    color: rgba(41, 171, 226, 1);
}

.contacts-overlay-delete-container img {
    filter: brightness(0) saturate(100%);
}

.contacts-overlay-delete-container:hover img {
    filter: brightness(0) saturate(100%) invert(55%) sepia(95%) saturate(730%) hue-rotate(165deg) brightness(92%) contrast(89%);
}

.contacts-details-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contacts-details-container h4 {
    font-weight: 700;
    font-size: 16px;
}

.contacts-details-container a {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

.contacts-email-details-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-phone-details-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-phone-details-container a {
    color: rgba(41, 171, 226, 1);
}

.contacts-details-container a:hover {
    color: rgba(41, 171, 226, 1);
    text-decoration: underline;
}

.add-contact-overlay {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 200;
}
.bg-contact-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-left-section {
    width: 467px;
    height: 594px;
    gap: 12px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
}

.add-contact-left-section-content {
    margin-left: 46.9px;
}

.add-contact-join-logo {
    width: 55.6px;
    height: 66.48px;
    margin-top: 154px;
}

.add-contact-headline {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 16px;
    margin-top: 20px;
}

.add-contact-headline h1 {
    font-weight: 700;
    font-size: 57px;
}

.add-contact-headline h2 {
    font-weight: 400;
    font-size: 25px;
}

.add-contact-underlined {
    width: 90px;
    height: 3px;
    border-radius: 3px;
    background-color: rgba(41, 171, 226, 1);
}

.add-contact-right-section {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.add-contact-person-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 120px;
    background-color: #d1d1d1;
    border-radius: 100%;
}

.add-contact-person-svg-container p {
    font-weight: 500;
    font-size: 47px;
    color: white;
}

.add-contact-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 20px;
    height: 20px;
    padding: 12px;
    box-sizing: content-box;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.add-contact-close-btn:hover {
    background-color: #d1d1d1;
    border-radius: 100%;
    transform: scale(1.15);
}

.add-contact-right-section form {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 215px;
    gap: 32px;
}

.add-contact-input-containers {
    display: flex;
    width: 422px;
    height: 50px;
    gap: 8px;
    margin-left: 60px;
}

.add-contact-input-containers input {
    background-repeat: no-repeat;
    background-position: right 10px center;
    display: flex;
    justify-content: space-between;
    width: 422px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 13px 21px;
    gap: 10px;
    font-weight: 400;
    font-size: 20px;
}

.add-contact-input-containers input:focus {
    outline: 1px solid rgba(41, 171, 226, 1);
}

.add-contact-name-input {
    background-image: url(../assets/icons/person-icon.svg);
}

.add-contact-email-input {
    background-image: url(../assets/icons/mail.svg);
}

.add-contact-phone-input {
    background-image: url(../assets/icons/phone-icon.svg);
}

.add-contact-btn-section {
    display: flex;
    width: 364px;
    height: 57px;
    gap: 24px;
    margin-left: 60px;
}

.add-contact-cancel-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 56px;
    background-color: white;
    border: 1px solid #2A3647;
    border-radius: 10px;
    color: #2A3647;
    padding: 16px;
    gap: 9px;
    font-weight: 400;
    font-size: 20px;
    transition: box-shadow 0.2s ease-in-out;
}

.add-contact-cancel-btn:hover {
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
    color: rgba(41, 171, 226, 1);
    border: 1px solid rgba(41, 171, 226, 1);
}

.add-contact-cancel-btn:hover img {
    filter: invert(56%) sepia(60%) saturate(428%) hue-rotate(163deg) brightness(94%) contrast(92%);
}

.add-contact-cancel-edit-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 57px;
    background-color: white;
    border: 1px solid #2A3647;
    border-radius: 10px;
    color: #2A3647;
    padding: 16px;
    gap: 9px;
    font-weight: 400;
    font-size: 20px;
    transition: box-shadow 0.2s ease-in-out;
}

.add-contact-cancel-edit-btn:hover {
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
    color: rgba(41, 171, 226, 1);
    border: 1px solid rgba(41, 171, 226, 1);
}

.add-contact-cancel-edit-btn:hover img {
    filter: invert(56%) sepia(60%) saturate(428%) hue-rotate(163deg) brightness(94%) contrast(92%);
}

.add-contact-create-contact-btn {
    cursor: pointer;
    width: 223px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    font-weight: 700;
    font-size: 21px;
    transition: box-shadow 0.2s ease-in-out;
    border: none;
}

.add-contact-create-contact-btn:hover {
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(41, 171, 226, 1);
    border: 1px solid rgba(41, 171, 226, 1);
}

.add-contact-edit-contact-btn {
    cursor: pointer;
    width: 111px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    font-weight: 700;
    font-size: 21px;
    transition: box-shadow 0.2s ease-in-out;
    border: none;
}

.add-contact-edit-contact-btn:hover {
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(41, 171, 226, 1);
    border: 1px solid rgba(41, 171, 226, 1);

}

.add-new-contact-btn-mobile-version {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: none;
}

.delete-edit-dropdown-contacts-mobile {
    display: none;
}

.close-side-contact-arrow-icon {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.created-contact-successfully-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #2A3647;
    font-size: 20px;
    width: 326px;
    height: 74px;
    border-radius: 20px;
    color: white;
    z-index: 100;
}

.red-border-contacts {
    border: 1px solid red;
}

.form-add-contact {}

.failure-message-add-contact {
    font-size: 16px;
    color: red;
    width: 325px;
    height: 20px;
    position: absolute;
    top: 52px;
    left: 60px;
}

.input-error-message-container-name {
    position: relative;
}

.failure-message-add-contact-name {
    font-size: 16px;
    color: red;
    width: 325px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 60px;
}

.input-error-message-container-email {
    position: relative;
}

.failure-message-add-contact-email {
    font-size: 16px;
    color: red;
    width: 325px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 60px;
}

.input-error-message-container-phone-all-fields {
    position: relative;
}

.failure-message-add-contact-phonenumber {
    font-size: 16px;
    color: red;
    width: 325px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 60px;
}

@media screen and (min-width: 1399px) and (min-height: 1081px) {
    .edit-delete-contact-button {
        display: none;
        height: 0px;
        width: 0px;
        opacity: 1;
    }

    .add-new-contact-btn-mobile-version {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        display: none;
        height: 0px;
        width: 0px;
        opacity: 1;
    }
}

@media screen and (max-width: 1920px) {

    .body-contacts {
        max-height: 1080px;
        max-width: 1920px;
    }

    .add-contact-overlay {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1212px;
        height: 592px;
        border-radius: 30px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(42, 54, 71, 1);
    }

    @media (max-width: 768px) {
        .add-contact-overlay {
            width: 90vw;
            max-width: 500px;
            height: auto;
            border-radius: 20px;
    
            top: 100%; /* start unten */
            left: 50%;
            transform: translateX(-50%);
            animation: slideUpCenter 0.35s ease-out forwards;
        }
    }

@keyframes slideUpCenter {
    from {
        top: 100%;
    }
    to {
        top: 50%;  /* Ziel: vertikale Mitte */
        transform: translate(-50%, -50%);
    }
}}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1399px) {

    .add-contact-edit-contact-btn {
        margin-left: 15px;
    }

    .add-contact-cancel-edit-btn {
        margin-right: 15px;
    }

    .add-contact-btn-section {
        margin-left: -10px;
    }

    .failure-message-add-contact {
        font-size: 16px;
        color: red;
        width: 325px;
        height: 20px;
        position: absolute;
        top: 63px;
        left: 0px;
    }

    .failure-message-add-contact-name {
        font-size: 16px;
        color: red;
        width: 325px;
        height: 20px;
        position: absolute;
        top: 40px;
        left: 0px;
    }

    .failure-message-add-contact-email {
        font-size: 16px;
        color: red;
        width: 325px;
        height: 20px;
        position: absolute;
        top: 40px;
        left: 0px;
    }

    .failure-message-add-contact-phonenumber {
        font-size: 16px;
        color: red;
        width: 325px;
        height: 20px;
        position: absolute;
        top: 40px;
        left: 0px;
    }

    .failure-message-add-contact {
        font-size: 16px;
        color: red;
        width: 400px;
        height: 20px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .contacts-overlay-header {
        display: flex;
        width: 100%;
        height: 120px;
        gap: 54px;
    }

    .contacts-side-headline h1 {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 47px;
    }

    .close-side-contact-arrow-icon {
        display: block;
        position: absolute;
        top: 160px;
        right: 6vw;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    .close-side-contact-arrow-icon:hover {
        border-radius: 100%;
        background-color: #d1d1d1;
        transform: scale(1.15);
    }

    .contacts-overlay-user-profile {
        background-color: #FF7A00;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        font-weight: 500;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 3px solid white;
        gap: 10px;
    }

    .contacts-details-container h4 {
        font-weight: 700;
        font-size: 19px;
    }

    .contact-list-fix-container {
        display: none;
    }

    .hide-scrollbar {
        overflow-y: visible;
    }

    .contact-card-activated {
        background-color: initial;
        color: initial;
    }

    .contacts-sidebar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100vw;
        height: 100%;
        margin-top: 96px;
        margin-left: 0px;
        padding-top: 20px;
        max-height: none;
        padding-bottom: 100px;
        min-width: unset;
    }

    .contacts-sidebar-scrollbar {
        width: 100%;
        overflow-y: hidden;
        background-color: white;
        scrollbar-width: thin;
        scrollbar-color: #a8a8a8 white;
        margin-top: -18px;
        min-height: 100vh;
    }

    .contacts-sidebar-container::-webkit-scrollbar {
        display: none;
    }

    .contacts-right-main-container {
        display: none;
        width: 100%;
        margin-left: 0px;
        padding-left: 4px;
        height: 100dvh;         /* volle Höhe des Viewports */
        overflow-y: auto;       /* Scroll aktivieren */
        -webkit-overflow-scrolling: touch; /* für iOS */
        padding-bottom: 80px;
    }

    .contacts-side-headline {
        margin-top: 0px;
        padding-top: 120px;
        margin-left: 5px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        position: unset;
    }

    .contacts-overlay-container {
        margin-top: 0px;
        margin-left: 5px;
        position: unset;
        height: unset;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contacts-headline-seperator {
        display: none;
    }

    .contacts-headline-seperator-mobile {
        display: block;
        height: 4px;
        width: 120px;
        border-radius: 3px;
        background-color: rgba(41, 171, 226, 1);
    }

    .contacts-side-headline h3 {
        display: flex;
        font-weight: 400;
        font-size: 20px;
        margin-top: 0px;
        align-items: start;
        height: auto;
    }

    .contacts-headline-seperator-mobile {
        margin-top: 5px;
    }

    .contacts-overlay-action-buttons-container {
        display: none;
    }

    .contacts-info-container h3 {
        font-size: 36px;
        padding-top: 17px;
        font-weight: bold;
        margin-left: -40px;
    }

    .contacts-info-container {
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 88px;
        gap: 8px;
    }

    .edit-delete-contact-button {
        cursor: pointer;
        display: none;
        color: rgba(42, 54, 71, 1);
        position: fixed;
        z-index: 3;
        right: 5vw;
        bottom: 40px;
        margin-bottom: 80px;
        border-radius: 50%;
    }

    .edit-delete-contact-button:hover {
        color: rgba(41, 171, 226, 1);
        background-color: rgba(41, 171, 226, 1);
    }

    .contacts-content {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .delete-edit-dropdown-contacts-mobile {
        width: 116px;
        height: 100px;
        background-color: white;
        opacity: 1;
        padding: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        position: fixed;
        z-index: 4;
        right: 5vw;
        bottom: 40px;
        margin-bottom: 80px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .edit-flexbox-contacts1 {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .edit-flexbox-contacts2 {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .edit-svg-margin {
        margin-right: 6px;
    }

    .delete-svg-margin {
        margin-right: 8px;
    }

    .contact-card {
        width: 100%;
        height: 78px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 12px;
        padding-right: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 35px;
        border-radius: 10px;
        transition: box-shadow 0.2s ease-in-out;
    }

    .contact-list {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: none;
    }

    .contact-list-seperator {
        width: 90vw;
        height: 2px;
        border-radius: 3px;
        background-color: #d1d1d1;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .contact-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        width: 56px;
        height: 56px;
        background-color: #FF7A00;
        border: 2px solid white;
        border-radius: 100%;
        color: white;
    }

    .contact-info span {
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 7px;
    }

    .contact-info a {
        cursor: pointer;
        font-size: 19px;
        text-decoration: none;
        color: rgba(41, 171, 226, 1);
        word-break: break-word;
    }

    .add-new-contact-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        margin-top: 22.5px;
        width: 352px;
        height: 56px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background-color: rgba(42, 54, 71, 1);
        padding-top: 12px;
        padding-bottom: 12px;
        gap: 16px;
        transition: box-shadow 0.2s ease-in-out;
    }

    .add-new-contact-btn-mobile-version {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: block;
        background-color: rgba(42, 54, 71, 1);
        position: fixed;
        z-index: 3;
        right: 7vw;
        bottom: 40px;
        cursor: pointer;
        border: none;
        box-shadow: none;
        outline: none;
        margin-bottom: 70px;
    }

    .add-contact-overlay {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        border-radius: 30px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(42, 54, 71, 1);
    }

    .add-contact-left-section {
        width: 100%;
        border-radius: 30px 30px 0 0;
        height: 37%;
        padding: 0px 48px;
        gap: 12px;
        background-color: rgba(42, 54, 71, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .add-contact-headline h1 {
        font-weight: 700;
        font-size: 47px;
    }

    .add-contact-headline h2 {
        font-weight: 400;
        font-size: 20px;
    }

    .add-contact-left-section-content {
        margin-left: 0px;
    }

    .add-contact-headline {
        margin-top: 0px;
    }

    .add-contact-join-logo {
        display: none;
    }

    .add-contact-underlined {
        width: 90px;
    }

    .add-contact-right-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        flex-direction: column;
    }

    .add-contact-right-section form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        margin-top: 80px;
        gap: 15px;
        margin-left: 20px;
    }

    .add-contact-person-svg-container {
        border: 3px solid white;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        width: 120px;
        min-width: 120px;
        height: 120px;
        background-color: #d1d1d1;
        border-radius: 100%;
        margin-top: -60px;
        margin-bottom: 40px;
    }

    .add-contact-input-containers {
        display: flex;
        width: 100%;
        height: 50px;
        gap: 8px;
        margin-left: 0px;
    }

    .add-contact-input-containers input {
        background-repeat: no-repeat;
        background-position: right 10px center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 41px;
        border-radius: 10px;
        border: 1px solid #d1d1d1;
        padding: 13px 21px;
        gap: 10px;
        font-weight: 400;
        font-size: 20px;
        margin-top: 0px;
        margin-right: 20px;
    }

    .add-contact-close-btn {
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 30px;
        right: 30px;
        transition: transform 0.3s ease;
        filter: brightness(0) invert(1);
    }

    .add-contact-close-btn:hover {
        transform: scale(1.15);
        background-color: transparent;
    }


    .add-contact-cancel-btn {
        width: 120px;
        margin-right: 2%;
        display: none;
    }

    .add-contact-btn-section {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        padding-top: 0px;
        height: 57px;
        gap: 0px;
    }

    .add-contact-create-contact-btn {
        cursor: pointer;
        width: 217px;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgba(42, 54, 71, 1);
        border-radius: 10px;
        padding: 16px;
        gap: 4px;
        font-weight: 700;
        font-size: 21px;
        transition: box-shadow 0.2s ease-in-out;
    }

    .name-contacts-template-div {
        max-width: 100%;
    }

    .add-new-contact-btn-container {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .add-new-contact-btn-mobile-version {
        right: 5vw;
    }

    .add-contact-overlay {
        width: 94vw;
    }
}

@media screen and (max-width: 900px) {
    .add-new-contact-btn-mobile-version {
        right: 4vw;
    }

    .add-contact-overlay {
        width: 93vw;
    }
}

@media screen and (max-width: 700px) {
    .add-new-contact-btn-mobile-version {
        right: 2vw;
    }

    .add-contact-overlay {
        width: 92vw;
    }
}

@media screen and (max-width: 500px) {
    .contacts-details-container {
        padding-bottom: 50px;
    }

    .contacts-right-main-container {
        margin-left: 0px;
    }

    .contacts-overlay-container {
        width: 280px;
    }

    .contacts-overlay-header h3 {
        font-size: 25px;
    }

    .contacts-overlay-user-profile {
        width: 60px;
        height: 60px;
    }

    .contacts-overlay-user-profile p {
        font-size: 20px;
    }

    .add-new-contact-btn-mobile-version {
        width: 56px;
        height: 56px;
        right: 12px;
    }

    .add-new-contact-btn-mobile-version img {
        width: 32px;
        height: 32px;
    }

    .add-contact-overlay {
        width: 91vw;
    }

    .add-contact-headline h1 {
        font-weight: 700;
        font-size: 35px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 400px) {
    .contacts-sidebar-scrollbar {
        width: 100%;
        background-color: white;
        scrollbar-width: thin;
        scrollbar-color: #a8a8a8 white;
        margin-top: -18px;
    }

    .contacts-sidebar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
        margin-top: 96px;
        margin-left: 0px;
        padding-top: 20px;
        padding-bottom: 80px;
    }

    .add-contact-person-svg-container {
        width: 80px;
        height: 80px;
        min-width: 80px;
        margin-top: -40px;
    }

    .add-contact-person-svg-container {}

    .add-contact-create-contact-btn {
        font-size: 16px;
    }

    .add-contact-cancel-btn {
        font-size: 16px;
    }

    .add-contact-create-contact-btn {}

    .add-contact-close-btn {
        top: 20px;
        right: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
    .add-contact-overlay {}

    .add-contact-btn-section {
        padding-bottom: 10px;
    }
}