.contacts-content {
    display: flex;
}

.contacts-sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 456px;
    height: 100dvh;
    margin-top: 96px;
    margin-left: 232px;
}

.contact-list {
    display: flex;
    flex-direction: column;
}

.contact-list p {
    width: 352px;
    height: 58px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 36px;
    padding-left: 36px;
    font-weight: 400;
    font-size: 20px;
}

.add-new-contact-btn-container {
    display: flex;
    justify-content: center;
    width: 456px;
    height: 101px;
}

.add-new-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22.5px;
    width: 352px;
    height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 16px;
}

.add-new-contact-btn:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: -4px 2px 12px rgba(0, 0, 0, 0.3);
}

.add-new-contact-btn p {
    font-weight: 700;
    font-size: 21px;
    color: white;
}

.contact-list-seperator {
    width: 352px;
    height: 1px;
    border-radius: 3px;
    background-color: #d1d1d1;
    margin-top: 8px;
    margin-bottom: 8px;
}

.contact-card {
    width: 352px;
    height: 78px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 35px;
    border-radius: 10px;

}

.contact-card:hover {
    background-color: rgb(226, 226, 226);
}

.contact-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    width: 42px;
    height: 42px;
    background-color: #FF7A00;
    border-radius: 100%;
    color: white;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info span {
    font-weight: 400;
    font-size: 20px;
}

.contact-info a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(41, 171, 226, 1);
}

/*ab hier rechte seite*/

.contacts-right-main-container {
    display: flex;
    flex-direction: column;
}

.contacts-side-headline {
    margin-top: 206px;
    margin-left: 60px;
    width: 569px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.contacts-side-headline h1 {
    font-weight: 700;
    font-size: 61px;
}

.contacts-side-headline h3 {
    font-weight: 400;
    font-size: 27px;
}

.contacts-headline-seperator {
    height: 59px;
    width: 3px;
    border-radius: 3px;
    background-color: rgba(41, 171, 226, 1);
}

.contacts-overlay-container {
    display: flex;
    flex-direction: column;
    width: 461px;
    height: 364px;
    margin-top: 120px;
    margin-left: 60px;
    gap: 21px;
}

.contacts-overlay-container span {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    gap: 59px;
}

.contacts-overlay-header {
    display: flex;
    width: 461px;
    height: 120px;
    gap: 54px;
}

.contacts-overlay-user-profile {
    background-color: #FF7A00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: 500;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px;
    gap: 10px;
}

.contacts-info-container {
    display: flex;
    flex-direction: column;
    width: 287px;
    height: 88px;
    gap: 8px;
}

.contacts-info-headline-container {
    width: 287px;
    height: 56px;
    gap: 5px;
}

.contacts-info-container h3 {
    font-size: 47px;
    font-weight: 500;
}

.contacts-overlay-action-buttons-container {
    display: flex;
    gap: 13px;
}

.contacts-overlay-action-buttons-container p {
    font-weight: 400;
    font-size: 16px;
}

.contacts-overlay-edit-container {
    display: flex;
    gap: 8px;
}

.contacts-overlay-delete-container {
    display: flex;
    gap: 8px;
}

.contacts-details-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contacts-details-container h4 {
    font-weight: 700;
    font-size: 16px;
}

.contacts-details-container a {
    font-weight: 400;
    font-size: 16px;
}

.contacts-email-details-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-phone-details-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}