header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available; /*box shadow geht über die sidebar*/
    height: 96px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 348px;
}

header h1 {
    font-weight: 400;
    font-size: 20px;
}

.header-icons-container {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    gap: 16px;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: 3px solid rgba(42, 54, 71, 1);
    border-radius: 100%;
}

.user-profile-font {
    font-weight: bold; /*größe bzw dicke anpassen, ist mir nicht ersichtlich*/
    color: rgba(41, 171, 226, 1);
}

/*ab hier: sidebar*/
.sidebar {
    width: 232px;
    height: 100vh;
    background-color: rgba(42, 54, 71, 1);
}