header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    height: 96px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 348px;
    background-color: white;
}

header h1 {
    font-weight: 400;
    font-size: 20px;
}

.header-icons-container {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    gap: 16px;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: 3px solid rgba(42, 54, 71, 1);
    border-radius: 100%;
}

.user-profile:hover {
    background-color: rgba(9, 25, 49, 1);
}

.user-profile-font {
    font-weight: bold; /*größe bzw dicke anpassen, ist mir nicht ersichtlich*/
    color: rgba(41, 171, 226, 1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 232px;
    height: 100vh;
    background-color: rgba(42, 54, 71, 1);
    position: fixed;
    top: 0;
    padding-top: 64px;
    padding-bottom: 64px;
}

.nav-links {
    width: 100%;
    list-style: none;
    color: rgba(168, 168, 168, 1);
    gap: 15px;
}

.nav-links li {
    display: flex;
    cursor: pointer;
    padding-top: 8px;
    padding-right: 56px;
    padding-bottom: 8px;
    padding-left: 56px;
}

.nav-links li:hover {
    background-color: rgba(9, 25, 49, 1);
    color: white;
}

.nav-links li:hover a {
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}

.nav-links li:hover img {
    filter: brightness(0) invert(1);
}

.nav-links img {
    margin-right: 10px; /*nicht fest vergeben bei figma, passt das so???*/
}

.sidebar-join-logo {
    margin-bottom: 100px;
    } /*das margin ist nicht in figma angegeben*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgba(168, 168, 168, 1);
    padding-top: 243px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    display: flex;
    padding-left: 52px !important;
    cursor: pointer;
    width: 100%;
    padding: 8px;
}

footer a:hover {
    color: white;
    background-color: rgba(9, 25, 49, 1);
}