header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    position: fixed;
    top: 0;
    box-shadow: var(--box-shadow-header);
}

h1 {
    padding-top: 20px;
}