.info-pages {
    margin-top: 100px;
    margin-left: 328px;
    padding-right: 80px;
    max-width: 1920px;
    height: 1080px;
    padding-bottom: 200px;
}

.info-pages a {
    color: rgba(75, 183, 232);
}

.headline-arrow-container {
    display: flex;
    justify-content: space-between;
}

.font-size-35px {
    font-size: 35px;
}

@media screen and (max-width: 1500px) {
    .info-pages {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 1400px) {
    .info-pages {
        padding-bottom: 120px;
    }
}