.info-pages {
    padding-top: 124px;
    padding-left: 328px;
    padding-right: 80px;
    height: 1080px;
    padding-bottom: 200px;
    max-width: 1920px;
    overflow-y: hidden;
    scrollbar-width: none;
}

.info-pages a {
    color: rgba(75, 183, 232);
}

.headline-arrow-container {
    display: flex;
    justify-content: space-between;
}

.font-size-35px {
    font-size: 35px;
}

@media screen and (max-width: 1500px) {
    .info-pages {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 1399px) {
    .info-pages {
        padding-bottom: 120px;
        padding-left: 0px;
        max-height: none;
        padding-right: 0px;
        height: auto;
        margin-top: 0px;
    }
}