.main-container-join {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container-join-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 80%;
}

.join-logo {
    position: absolute;
    width: 100px;
    height: 121px;
    top: 30px;
    left: 47px;

}

.signup-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 598px;
    height: 630px;
    top: 197px;
    left: 421px;
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 100px;
}

.hr-line-signup {
    height: 2.5px;
    width: 120px;
    border-radius: 30px;
}

.title-text-arrow-div {
    display: flex;
    width: 100%;
}

.title-text-div-headline {
    margin-bottom: 0px;
    margin-top: 0px;
}

.arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 30px;
  width: 100%;
  left: 38%;
  transform: translateX(-50%);
}

.arrow-left {
    width: 30px;
    height: 30px;
}

.underline-headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 61px;
    font-weight: 700;
    width: 100%;
}

.signup-content {
    width: 315px;
    height: 89px;
    gap: 16px;

}

.signup-inputfield-container {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 326px;
    margin-top: 32px;
    gap: 34px;
    background-color: #FFFFFF;
}

.signup-title {
    width: 315px;
    height: 89px;
    Gap: 16px
}

.underline-text-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background-color: white;
}

.inputfield-name {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 48px;
    background-color: #FFFFFF;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    cursor: pointer;
}

.inputfield-name:focus {
    border: 2px solid #29ABE2;
    outline: none;
}


.inputfield-email {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 48px;
    background-color: #FFFFFF;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    cursor: pointer;
}

.inputfield-email:focus {
    border: 2px solid #29ABE2;
    outline: none;
}


.inputfield-password {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 48px;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.inputfield-password:focus {
    border: 2px solid #29ABE2;
    outline: none;
}

.inputfield-confirm {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 48px;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-color : #2A3647;
}

.inputfield-confirm:focus {
    border: 2px solid #29ABE2;
    outline: none;
}

.email-icon-size {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 37px;
    left: 420px;
}

.name-icon-size {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 40px;
    left: 420px;
}

.lock-icon-size-first {
    position: relative;
    width: 16px;
    height: 16px;
    left: 420px;
    bottom: 37px;
}

.lock-icon-size-second {
    position: relative;
    width: 16px;
    height: 16px;
    left: 420px;
    bottom: 37px;
}


.inputfield::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 21px;
}

.name-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;


}

.email-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;

}

.password-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;
}

.Confirm-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;
}

.person-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 475px;
    background-color: #FFFFFF;
}

.mail-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.lock-first {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.lock-second {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

.privacy-policy-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 24px;
    background-color: #FFFFFF;
    top: 16px;
}

.privacy-policy-accept-button {
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.text-accept {
    width: 90px;
    height: 19px;
    font-size: 12px;
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
    top: 2.5px;
    left: 32px;
    background-color: #FFFFFF;
}

.text-privacy-policy {
    width: 122px;
    height: 19px;
    font-size: 16px;
    color: #29ABE2;
    top: 2.5px;
    left: 126px;
    gap: 10px;
    background-color: #FFFFFF;
}

.sign-up-button-container {
    position: relative;
    font-size: 21px;
    border-radius: 8px;
    width: 126px;
    height: 55px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #2A3647;
    bottom: 40px;
    cursor: pointer;
}

.sign-up-button-container:hover {
    background-color: #29ABE2;
    border: none;
}

.box-privacy-legal-notice {
    display: flex;
    justify-content: center;
    width: 260px;
    height: 35px;
    margin-top: 70px;
}

.privacy-text {
    width: 130px;
    height: 35px;
    gap: 8px;
    padding: 8px;
    color: #A8A8A8;
    text-decoration: none;
}

.privacy-text:hover {
    cursor: pointer;
    scale: 1.1;
    color: #29ABE2;
    font-weight: bold;
}

.Legal-text {
    width: 120px;
    height: 35px;
    gap: 8px;
    left: 137px;
    padding: 8px;
    color: #A8A8A8;
    text-decoration: none;
}

.Legal-text:hover {
    cursor: pointer;
    scale: 1.1;
    color: #29ABE2;
    font-weight: bold;
}

.blue-underline-headline {
    width: 130px;
    height: 3px;
    background-color: #29ABE2;
    margin-top: 8px;
    border-radius: 30px;
}

@media screen and (max-width: 1400px) {

    .join-logo {
        position: absolute;
        width: 70px;
        height: 90px;
        top: 40px;
        left: 40px;
    }

    .signup-main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 95%;
        height: 700px;
        border-radius: 30px;
        background-color: #FFFFFF;
        margin-top: 190px;
        margin-right: 15px;
    }

    .title {
        text-align: center;
        font-size: 61px;
        background-color: #FFFFFF;
        font-weight: 700;
        margin-top: 30px;
    }

    .box-privacy-legal-notice {
        width: 246px;
        height: 35px;
        top: 849px;
        left: 597px;
        margin-top: 120px;
        margin-bottom: 40px;
    }

    .hr-line-signup {
        height: 3.5px;
        width: 10%;
        border-radius: 30px;
    }

    .arrow-box {
        position: absolute;
        transform: translateY(-100%);
        top: 30%;
        left: 23%;
        width: 32px;
        height: 32px;
        background-color: #FFFFFF;
    }

    .arrow-left {
        width: 41px;
        height: 40px;
    }

    .title {
        text-align: center;
        font-size: 61px;
        background-color: #FFFFFF;
        font-weight: 700;
        margin-top: 30px;
        width: 100%;
    }

    .title-text-div-headline {
        width: 100%;
        text-align: center;
    }

    .signup-inputfield-container {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 326px;
        margin-top: 32px;
        margin-right: 15px;
        gap: 34px;
        background-color: #FFFFFF;
    }

    .name-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 24px;
        justify-content: space-between;
    }

    .inputfield-name {
        display: flex;
        flex-direction: column;
        height: 48px;
        background-color: #FFFFFF;
        border-width: 1px;
        gap: 8px;
        border-radius: 10px;
        padding-top: 12px;
        padding-right: 21px;
        padding-bottom: 12px;
        padding-left: 21px;
        width: 97%;
    }

    .name-icon-size {
        position: relative;
        width: 20px;
        height: 20px;
        bottom: 42px;
        left: 96.5%;
    }

    .email-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 24px;
        justify-content: space-between;
    }

    .inputfield-email {
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 48px;
        background-color: #FFFFFF;
        border-width: 1px;
        gap: 8px;
        border-radius: 10px;
        padding-top: 12px;
        padding-right: 21px;
        padding-bottom: 12px;
        padding-left: 21px;
    }

    .email-icon-size {
        position: relative;
        width: 23px;
        height: 23px;
        bottom: 42px;
        left: 96.5%;
    }

    .password-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 24px;
        justify-content: space-between;
    }

    .inputfield-password {
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 48px;
        border-width: 1px;
        gap: 8px;
        border-radius: 10px;
        padding-top: 12px;
        padding-right: 21px;
        padding-bottom: 12px;
        padding-left: 21px;
        background-color: #FFFFFF;
    }

    .lock-icon-size-first {
        position: relative;
        width: 20px;
        height: 20px;
        left: 96.5%;
        bottom: 42px;
    }

    .lock-icon-size-second {
        position: relative;
        width: 20px;
        height: 20px;
        left: 96.5%;
        bottom: 42px;
    }

    .Confirm-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 24px;
        justify-content: space-between;
    }

    .inputfield-confirm {
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 48px;
        border-width: 1px;
        gap: 8px;
        border-radius: 10px;
        padding-top: 12px;
        padding-right: 21px;
        padding-bottom: 12px;
        padding-left: 21px;
        background-color: #FFFFFF;
    }

    .privacy-policy-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 24px;
        background-color: #FFFFFF;
        top: 16px;
    }

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
    }

}

@media screen and (max-width: 1000px) {

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
        width: 96%;
    }

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {
        left: 95%;
    }

    .hr-line-signup {
        width: 15%;
    }

    .arrow-box {
        left: 14%;
    }

}

@media screen and (max-width: 700px) {

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {
        left: 93%;
    }

    .hr-line-signup {
        width: 20%;
    }

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
        width: 94%;
    }

    .arrow-box {
        left: 10%;
    }

}

@media screen and (max-width: 500px) {

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {
        left: 91%;
    }

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
        width: 92%;
    }

    .hr-line-signup {
        width: 25%;
    }
    .arrow-box {
        left: 9%;
    }
}

@media screen and (max-width: 400px) {

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {
        left: 89%;
    }

    .hr-line-signup {
        width: 30%;
    }

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
        width: 90%;
    }

    .arrow-box {
        left: 7%;
    }

}

@media screen and (max-width: 350px) {

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {
        left: 88%;
    }

    .inputfield-confirm,
    .inputfield-password,
    .inputfield-email,
    .inputfield-name {
        width: 89%;
    }


    .hr-line-signup {
        width: 35%;
    }

    .signup-main-container {
        width: 95%;
    }

    .arrow-box {
        left: 5%;
    }

}