.hide-scrollbar {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.Body-Summary-Html {
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
}

.Summary-Box-Z-Index-Container {
    margin-top: 0px;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1550px;
    max-height: 1080px;
}

.Summary-Box-Container {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.Headline-Join-360 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin-left: 0px;
}

.Headline-Blue-Line {
    height: 63px;
    border: 2px solid #29ABE2;
    border-radius: 3px;
    margin-left: 20px;
}

.Headline-Join-360-Text {
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    margin-left: 20px;
}

.To-Do-Six-Box-Container {
    margin-left: 0px;
    width: 560px;
    height: 562px;
}

.First-Two-Box-Container {
    display: flex;
    margin-top: 30px;
}

.To-Do-Box {
    text-decoration: none;
    color: black;
    height: 168px;
    width: 264px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    align-items: center;
}

.Circle-Logo-Svg-Summary circle {
    fill: #2A3647;
}

.To-Do-Box:hover .Circle-Logo-Svg-Summary circle {
    fill: #FFFFFF;
}

.To-Do-Box:hover {
    cursor: pointer;
    scale: 1.10;
    background-color: #2A3647;
}

.Done-Box {
    text-decoration: none;
    color: black;
    height: 168px;
    width: 264px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.Done-Box:hover {
    background-color: #2A3647;
    scale: 1.10;
    cursor: pointer;
}

.Done-Box:hover .Circle-Logo-Svg-Summary circle {
    fill: #FFFFFF;
}

.Circle-Logo-Container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 60px;
}

.Pencil-Icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
}

.Pencil-Icon path {
    position: absolute;
    fill: white;
}

.To-Do-Box:hover .Pencil-Icon path {
    fill: #2A3647;
}

.Checked-Icon {
    position: absolute;
    left: 15px;
}

.Checked-Icon path {
    stroke: white;
}

.Done-Box:hover .Checked-Icon path {
    stroke: #2A3647;
}

.Counter-To-Do {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.To-Do-Box:hover .Counter-To-Do {
    color: #FFFFFF;
}

.To-Do-Box:hover .To-Do-Box-Text {
    color: #FFFFFF;
}

.Counter-Done {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.Done-Box:hover .Counter-Done {
    color: #FFFFFF;
}

.Done-Box:hover .Done-Box-Text {
    color: #FFFFFF;
}

.To-Do-Box-Text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.Done-Box-Text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.Counter-Text-To-Do-Box-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

.Counter-Text-Done-Box-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

.Second-Container-Box-Greeting-Wrapper {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 1500px;
}

.Second-One-Box-Container {
    text-decoration: none;
    color: black;
    display: flex;
    border-radius: 30px;
    height: 168px;
    width: 560px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    align-items: center;
    margin-top: 25px;
}

.Second-One-Box-Container:hover {
    background-color: #2A3647;
    cursor: pointer;
    scale: 1.10;
}

.Second-One-Box-Container:hover .Counter-Urgent {
    color: #FFFFFF;
}

.Second-One-Box-Container:hover .Urgent-Text {
    color: #FFFFFF;
}

.Second-One-Box-Container:hover .Date-Of-The-Deadline {
    color: #FFFFFF;
}

.Second-One-Box-Container:hover .Text-Upcoming-Deadline {
    color: #FFFFFF;
}

.tiny-box-div:hover {
    background-color: #2A3647;
    cursor: pointer;
    scale: 1.10;
}

.tiny-box-div:hover .Counter-Tiny-Div {
    color: #FFFFFF;
}

.tiny-box-div:hover .Tasks-In-Board-Tiny-Div {
    color: #FFFFFF;
}

.tiny-box2-div:hover {
    background-color: #2A3647;
    cursor: pointer;
    scale: 1.10;
}

.tiny-box2-div:hover .Counter-Tiny-Div {
    color: #FFFFFF;
}

.tiny-box2-div:hover .Tasks-In-Progress-Tiny-Div {
    color: #FFFFFF;
}

.tiny-box3-div:hover {
    background-color: #2A3647;
    cursor: pointer;
    scale: 1.10;
}

.tiny-box3-div:hover .Counter-Tiny-Div {
    color: #FFFFFF;
}

.tiny-box3-div:hover .Awaiting-Feedback-Tiny-Div {
    color: #FFFFFF;
}

.Urgent-Picture-Div {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 70px;
}

.Double-Arrow-Up-Icon {
    position: absolute;
    left: 13px;
}

.Counter-Urgent-Text-Div {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Counter-Urgent {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.Urgent-Text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.Second-One-Box-Container-Line {
    height: 102px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    margin-left: 50px;
}

.Date-And-Deadline-Div {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

.Date-Of-The-Deadline {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.Third-Box-Container {
    display: flex;
    align-items: center;
    height: 170px;
    width: 560px;
    margin-top: 25px;
}

.tiny-box-div {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 14px 3px #0000000A;
    height: 168px;
    width: 168px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.tiny-box2-div {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 14px 3px #0000000A;
    height: 168px;
    width: 168px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-left: 50px;
}

.tiny-box3-div {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 14px 3px #0000000A;
    height: 168px;
    width: 168px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-left: 50px;
}

.Counter-Tiny-Div {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.Tasks-In-Board-Tiny-Div {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
}

.Tasks-In-Progress-Tiny-Div {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
}

.Awaiting-Feedback-Tiny-Div {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
}

.Text-Wrapper-Div {
    height: 136px;
    width: 385px;
    margin-top: 25px;
    margin-left: 150px;
}

.Good-Morning-Text {
    font-size: 47px;
    font-weight: 500;
    line-height: 120%;
}

.Name-Text {
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    color: #29ABE2;
}

.display-none {
    display: none;
}

.Headline-Blue-Line-Mobile {
    display: none;
    height: 63px;
    border: 2px solid #29ABE2;
    border-radius: 3px;
    margin-left: 20px;
}

.Loading-Screen-Mobile-Z-Container {
    display: none;
}

@media screen and (min-width: 1400px) {
    .Summary-Box-Z-Index-Container {
        margin-left: 0px;
        padding-left: 350px;
    }

}

@media screen and (max-width: 1399px) {

    .Urgent-Picture-Div {
        margin-left: 40px;
        height: 40px;
        width: 40px;
    }

    .Circle-Logo-Svg-Summary {
        height: 40px;
        width: 40px;
    }

    .Counter-To-Do {
        font-size: 47px;
    }

    .Counter-Done {
        font-size: 47px;
    }

    .Counter-Urgent {
        font-size: 47px;
    }

    .Counter-Tiny-Div {
        font-size: 47px;
    }

    .To-Do-Box-Text {
        font-size: 16px;
    }

    .Done-Box-Text {
        font-size: 16px;
    }

    .Urgent-Text {
        font-size: 16px;
    }

    .Tasks-In-Board-Tiny-Div {
        font-size: 16px;
    }

    .Tasks-In-Progress-Tiny-Div {
        font-size: 16px;
    }

    .Awaiting-Feedback-Tiny-Div {
        font-size: 16px;
    }

    .Date-Of-The-Deadline {
        font-size: 16px;
    }

    .Text-Upcoming-Deadline {
        font-size: 16px;
    }

    .Pencil-Icon {
        width: 24px;
        height: 24px;
    }

    .Checked-Icon {
        width: 21px;
        height: 21px;
        position: absolute;
        left: 24%;
        top: 26%;
    }

    .Second-One-Box-Container-Line {
        height: 89px;
    }

    .Double-Arrow-Up-Icon {
        width: 24px;
        height: 24px;
        left: 8.5px;
    }

    .Loading-Screen-Mobile-Z-Container {
        display: block;
        position: absolute;
        z-index: 4;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #FFFFFF;
        opacity: 1;
        transition: opacity 1s ease-out, visibility 0s 1s;
    }

    .Loading-Screen-Mobile-Z-Container.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .White-Loading-Background-Mobile {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 200vh;
        background-color: #FFFFFF;
        opacity: 1;
        transition: opacity 1s ease-out, visibility 0s 1s;
        z-index: 3;
    }

    .White-Loading-Background-Mobile.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .Loading-Screen-Mobile {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: 400;
        color: #2A3647;
    }

    .Text-Wrapper-Div {
        display: none;
    }

    .Summary-Box-Z-Index-Container {
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .Summary-Box-Container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }

    .Summary-Box-Positioning-Container {
        width: 430px;
    }

    #header-title-project-management-tool,
    #help-icon-logo {
        display: none;
    }

    .Headline-Blue-Line {
        display: none;
    }

    .Headline-Blue-Line-Mobile {
        display: block;
        height: 2px;
        width: 130px;
        border: 2px solid #29ABE2;
        border-radius: 3px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .Headline-Join-360-Text {
        font-weight: 400;
        font-size: 27px;
        line-height: 120%;
        margin-left: 0px;
    }

    .To-Do-Six-Box-Container {
        margin-left: 0px;
        width: 100%;
        height: 562px;
    }

    .First-Two-Box-Container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 97.5%;
    }

    .To-Do-Box {
        height: 110px;
        border-radius: 30px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 14px 3px #0000000A;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 186px;
        margin-left: 4%;
    }

    .Done-Box {
        height: 110px;
        width: 186px;
        border-radius: 30px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 14px 3px #0000000A;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        margin-left: 4%;
    }

    .Circle-Logo-Container {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 0px;
    }

    .Second-Container-Box-Greeting-Wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 92%;
        margin-right: 4%;
        margin-left: 4%;
    }

    .Second-One-Box-Container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        height: 110px;
        width: 396px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 14px 3px #0000000A;
        align-items: center;
        margin-top: 25px;
    }

    .Date-And-Deadline-Div {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Date-Of-The-Deadline {
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
    }

    .Text-Upcoming-Deadline {
        font-size: 20px;
    }

    .Third-Box-Container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 100%;
        margin-top: 25px;
    }

    .tiny-box-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 14px 3px #0000000A;
        height: 116px;
        width: 116px;
        margin-left: 4%;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .tiny-box2-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 14px 3px #0000000A;
        height: 116px;
        width: 116px;
        background-color: #FFFFFF;
        border-radius: 30px;
        margin-left: 2.5%;
    }

    .tiny-box3-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 14px 3px #0000000A;
        height: 116px;
        width: 116px;
        margin-left: 2.5%;
        background-color: #FFFFFF;
        border-radius: 30px;
        margin-right: 4%;
    }
}

@media screen and (max-width: 1200px) {
    .Headline-Join-360 {
        margin-top: 20px;
        font-size: 42px;
    }

    .Headline-Join-360-Text {
        font-size: 16px;
    }

    .Summary-Box-Container {
        margin-top: 0px;
    }
}

@media screen and (min-height: 1023px) and (max-height: 1025px) {
    .Summary-Box-Container {
        padding-left: 25%;
    }

    .Urgent-Picture-Div {
        margin-left: 40px;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-height: 1179px) and (max-height: 1181px) {
    .Summary-Box-Container {
        padding-left: 27%;
    }

    .Urgent-Picture-Div {
        margin-left: 40px;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-height: 1365px) and (max-height: 1367px) {
    .Summary-Box-Container {
        padding-left: 31%;
    }

    .Urgent-Picture-Div {
        margin-left: 40px;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-height: 1367px) and (max-height: 1369px) {
    .Summary-Box-Container {
        padding-left: 30%;
    }

    .Urgent-Picture-Div {
        margin-left: 40px;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-height: 719px) and (max-height: 721px) {
    .Summary-Box-Container {
        padding-left: 15%;
    }

    .Urgent-Picture-Div {
        margin-left: 40px;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-height: 1279px) and (max-height: 1281px) {
    .Summary-Box-Container {
        padding-left: 27.5%;
    }
}

@media screen and (min-height: 599px) and (max-height: 601px) {
    .Summary-Box-Z-Index-Container {
        height: 140vh !important;
    }

    .Summary-Box-Container {
        padding-left: 31.0% !important;
    }

    .Done-Box {
        margin-left: 3%;
    }
}

@media screen and (min-height: 799px) and (max-height: 801px) {
    .Summary-Box-Z-Index-Container {
        height: 115vh;
    }

    .Summary-Box-Container {
        padding-left: 35.0%;
    }

    .Done-Box {
        margin-left: 3%;
    }
}

@media screen and (max-width: 530px) {
    .Second-One-Box-Container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        height: 110px;
        width: 396px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 14px 3px #0000000A;
        align-items: center;
        margin-top: 25px;
    }

    .Urgent-Picture-Div {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 10px;
        height: 40px;
        width: 40px;
    }

    .Counter-Urgent-Text-Div {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Second-One-Box-Container-Line {
        height: 89px;
        border: 1px solid #D1D1D1;
        border-radius: 2px;
        margin-left: 30px;
    }

    .Date-And-Deadline-Div {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Date-Of-The-Deadline {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
    }

    .Text-Upcoming-Deadline {
        font-size: 16px;
    }
}

@media screen and (max-height: 741px) {

    .Summary-Box-Z-Index-Container {
        height: 105vh;
    }

    .Summary-Box-Container {
        margin-top: 80px;
    }
}

@media screen and (max-height: 670px) {

    .Summary-Box-Z-Index-Container {
        height: 120vh;
    }

    .Summary-Box-Container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }

}

@media screen and (max-width: 420px) {
    .Summary-Box-Positioning-Container {
        width: 95%;
    }

    .Summary-Box-Container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        width: 100%;
        margin-left: 0px;
        padding-left: 10px;
    }
}