body {
  background-color: #F6F7F8;
  height: 100dvh;
  width: 100%;
}

.blue-arrow-left {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.3s ease-in-out;
  margin-top: 20px;
}

.blue-arrow-left:hover {
  border-radius: 100%;
  background-color: #d1d1d1;
  transform: scale(1.15);
}

.blue-color {
  color: rgba(41, 171, 226, 1);
}

.hide {
  display: none;
}

@media screen and (max-width: 1400px) {

  .info-pages {
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
  }

  .privacy-policy-headline {
    margin-top: 40px;
    font-size: 47px;
    margin-bottom: 40px;
  }

  .legal-notice-headline {
    margin-top: 40px;
    font-size: 47px;
    margin-bottom: 40px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    line-height: 120%;
    letter-spacing: 0%;
    width: 286px;
    height: 56px;
    opacity: 1;
    gap: 20px;

  }

  .legal-notice-subtitle-join-kanban {
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .legal-notice-subtitle-company-info {
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .legal-notice-subtitle-representedBy{
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .legal-notice-subtitle-contact-information {
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .legal-notice-subtitle-commercial-register{
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .legal-notice-subtitle-Vat-id{
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .legal-notice-subtitle-disclaimer{
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .legal-notice-subtitle-copyright{
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  


}