<<<<<<< HEAD
* {
=======
*body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'inter';
>>>>>>> 5187028c3e287df72c97034c7216475c758a5055
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

main {
    display: flex;
    margin-left: 232px;
    margin-top: 200px;
}

.header-content-board {
    display: flex;
    width: 1056px;
    height: 73px;
    border: 2px solid black;
}

h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    letter-spacing: 0%;
}

.span {
    width: 176px;
    height: 73px;
    gap: 1px;
    border: 2px solid black;
}

.board-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    letter-spacing: 0%;
}


.find-task-add-task-container {
    display: flex;
    width: 504px;
    height: 48px;
    gap: 32px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;

}


.inputfield-task {
    width: 312px;
    height: 48px;
    gap: 10px;
    border-radius: 10px;
    border-width: 1px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;

}

.inputfield-task-content {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.title-findtask {
    font-size: 20px;
    width: 312px;
    height: 48px;
    border: 10px;
    font-weight: 400;
    color: #D1D1D1;
}

.inputfield-task-content {
    width: 280px;
    height: 32px;
    justify-content: space-between;

}


.add-task-box {
    width: 92px;
    height: 24px;
    font-family: Inter;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.add-task-container {
    background-color: #2A3647;
    width: 160px;
    height: 48px;
    gap: 4px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;

}

.todos-bar-container {
    display: flex;
<<<<<<< HEAD
    width: 200px;
    height: 24px;
=======
    width: 1208px;
    height: 24px;
    top: 200.5px;
    padding-right: 64px;
    padding-left: 64px;
>>>>>>> 5187028c3e287df72c97034c7216475c758a5055
    border: 2px solid black;
    margin-top: 200.5px;
}

.todo-container {
    width: 244px;
    height: 24px;
    justify-content: space-between;

}

.todo-content {
    width: 54px;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #42526E;
}

.inprogress-container {
    width: 244px;
    height: 24px;
    margin-left: 32px;
    justify-content: space-between;

}

.inprogress-content {
    width: 111px;
    height: 24px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #42526E;
<<<<<<< HEAD

}

.mainboard-container {
    display: flex;
    width: 1208px;
    height: 688px;
    gap: 26px;
    top: 336px;
    left: 232px;
    padding-right: 64px;
    padding-left: 64px;
    border: 2px solid blue;
}

.container-todo {
    width: 246px;
    height: 688px;
    gap: 24px;

}

.content-title {
    text-align: center;
    width: 111px;
    height: 19px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;

}

.no-task-to-do-title {
    width: 246px;
    height: 48px;
    border-width: 1px;
    gap: 10px;
    border-radius: 10px;
    background: #E7E7E7;

}

.container-inprogress {
    width: 252px;
    height: 688px;
    gap: 16px;

}

.container-user-story {
    width: 252px;
    height: 263px;
    gap: 10px;

}

.container-content-main {
    width: 220px;
    height: 231px;
    gap: 24px;
    border-radius: 24px;
    padding: 16px;
    background-color: #FFFFFF;
}

.user-story-container {
=======
}

.await-feedback-task-container {
    width: 244px;
    height: 24px;
    margin-left: 32px;
    justify-content: space-between;

}

.await-feedback-content {
    width: 152px;
    height: 24px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #42526E;
}

.done-task-container {
    margin-left: 32px;
    width: 244px;
    height: 24px;
    gap: 35px;

}

.done-content {
    width: 52px;
    height: 24px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #42526E;
}

.main-container-middle-part {
    display: flex;
    width: 1208px;
    height: 688px;
    top: 336px;
    margin-top: 110px;
    margin-left: 232px;
    gap: 24px;
    padding-right: 64px;
    padding-left: 64px;
    border: solid 2px black;
}

.todo-container-middle {
    width: 252px;
    height: 688px;
    border: 2px solid black;
}

.todo-content-box {
    width: 252px;
    height: 244px;
    gap: 10px;
    border-radius: 24px;
    padding: 16px;
    background-color: #FFFFFF;

}

.todo-user-story-box {
    width: 220px;
    height: 212px;
    gap: 24px;

}

.user-story-image {
    position: relative;
    right: 15px;
>>>>>>> 5187028c3e287df72c97034c7216475c758a5055
    width: 113px;
    height: 27px;
    gap: 10px;
    border-radius: 8px;
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
<<<<<<< HEAD
    background-color: #0038FF;

}

.kochwelt-container {
    width: 220px;
    height: 84px;
    gap: 8px;
    background-color: #FFFFFF;

}

.title-kochwelt {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #2A3647;
}

.build-start-page-container {
    width: 220px;
    height: 38px;
    color: #A8A8A8;
=======

}

.text-box-contact {
    width: 220px;
    height: 65px;
    gap: 8px;
    border-radius: 10px;
    object-fit: cover;

}

.text-contact-content {
>>>>>>> 5187028c3e287df72c97034c7216475c758a5055
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;

}

<<<<<<< HEAD
.progressbar-container {
    display: flex;
=======
.progressbar-box {
>>>>>>> 5187028c3e287df72c97034c7216475c758a5055
    width: 220px;
    height: 16px;

}

<<<<<<< HEAD
.progress-bar-content {
    width: 128px;
    height: 8px;
    gap: 10px;
    top: 4px;
    border-radius: 8px;
    padding-right: 64px;
    color: #F4F4F4;
    background-color: blue;

}

.subtask-container {
    width: 73px;
    height: 14px;
    left: 139px;
=======
.progressbar-content {
>>>>>>> 5187028c3e287df72c97034c7216475c758a5055
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0%;
<<<<<<< HEAD
}

.container-initial-circle {
=======
    top: 4px;
    gap: 10px;
    border-radius: 8px;

}

.user-story-three-circle-content {
>>>>>>> 5187028c3e287df72c97034c7216475c758a5055
    width: 220px;
    height: 32px;
    justify-content: space-between;

}

<<<<<<< HEAD
.circle-with-name-shortcut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    gap: 10px;
    border-radius: 45px;
    background-color: blue;
}

.letter-text {
    width: 21.33333396911621px;
    height: 7.61904764175415px;
    top: 12.19px;
    left: 5.33px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

=======
.progressbar-container-middle-part {
    width: 252px;
    height: 688px;
    gap: 16px;

}

.progressbar-content-box {
    width: 252px;
    height: 263px;
    gap: 10px;
    border-radius: 24px;
    padding: 16px;
    background-color: #FFFFFF;

}

.text-field-progressbar {
    width: 220px;
    height: 84px;
    gap: 8px;
    border-radius: 10px;

}

.progressbar-content-half-filled {
    width: 220px;
    height: 16px;

}


.three-circle-content-inprogressbar {
    width: 220px;
    height: 32px;
    justify-content: space-between;
}

.await-feedback-bar-content-box {
    width: 252px;
    height: 196px;
    gap: 10px;
    border-radius: 24px;
    padding: 16px;
    background-color: #FFFFFF;

}

.awaitbar-content-box {
    width: 252px;
    height: 215px;
    gap: 10px;
    border-radius: 24px;
    padding: 16px;
    background-color: #FFFFFF;

}

.done-content-box {
    width: 252px;
    height: 244px;
    gap: 10px;
    border-radius: 24px;
    padding: 16px;
    background-color: #FFFFFF;
    ;
>>>>>>> 5187028c3e287df72c97034c7216475c758a5055
}