.main-container-join {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container-join-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.join-logo {
    position: absolute;
    width: 100px;
    height: 121px;
    top: 80px;
    left: 77px;

}

.signup-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 598px;
    height: 630px;
    top: 197px;
    left: 421px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.arrow-box {
    position: relative;
    bottom: 230px;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
}

.arrow-left {
    width: 21px;
    height: 20px;
    top: 5.63px;
    left: 5.33px;
}


.title {
    text-align: center;
    font-size: 61px;
    background-color: #FFFFFF;
    font-weight: 700;

}

.signup-content {
    width: 315px;
    height: 89px;
    gap: 16px;

}

.signup-inputfield-container {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 326px;
    margin-top: 32px;
    gap: 34px;
    background-color: #FFFFFF;
}

.signup-title {
    width: 315px;
    height: 89px;
    Gap: 16px
}

.underline-text-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background-color: white;
}

.inputfield-name {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 48px;
    background-color: #FFFFFF;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;

}


.inputfield-email {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 48px;
    background-color: #FFFFFF;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;

}


.inputfield-password {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 48px;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    background-color: #FFFFFF;
}

.inputfield-confirm {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 48px;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    background-color: #FFFFFF;
}

.email-icon-size {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 37px;
    left: 380px;
}

.name-icon-size {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 40px;
    left: 380px;
}

.lock-icon-size-first {
    position: relative;
    width: 16px;
    height: 16px;
    left: 380px;
    bottom: 37px;
}

.lock-icon-size-second {
    position: relative;
    width: 16px;
    height: 16px;
    left: 380px;
    bottom: 37px;
}


.inputfield::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 21px;
}

.name-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;


}

.email-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;

}

.password-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;
}

.Confirm-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;
}

.person-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 475px;
    background-color: #FFFFFF;
}

.mail-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.lock-first {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.lock-second {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

.privacy-policy-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 24px;
    background-color: #FFFFFF;
    top: 16px;
}

.privacy-policy-accept-button {
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.text-accept {
    width: 90px;
    height: 19px;
    font-size: 12px;
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
    top: 2.5px;
    left: 32px;
    background-color: #FFFFFF;
}

.text-privacy-policy {
    width: 122px;
    height: 19px;
    font-size: 16px;
    color: #29ABE2;
    top: 2.5px;
    left: 126px;
    gap: 10px;
    background-color: #FFFFFF;
}

.sign-up-button-container {
    position: relative;
    font-size: 21px;
    border-radius: 8px;
    width: 126px;
    height: 55px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #2A3647;
    bottom: 40px;

}

.box-privacy-legal-notice {
    display: flex;
    position: absolute;
    width: 246px;
    height: 35px;
    top: 949px;
    left: 597px;

}

.privacy-text {
    width: 130px;
    height: 35px;
    gap: 8px;
    padding: 8px;
    color: #A8A8A8;
}

.Legal-text {
    width: 109px;
    height: 35px;
    gap: 8px;
    left: 137px;
    padding: 8px;
    color: #A8A8A8;

}