* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'inter';
}

body {
  background-color: #F6F7F8;
}

.blue-arrow-left {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.3s ease-in-out;
}

.blue-arrow-left:hover {
  border-radius: 100%;
  background-color: #d1d1d1;
  transform: scale(1.15);
}

.blue-color {
  color: rgba(41, 171, 226, 1);
}

.hide {
  display: none;
}