.Summary-Box-Z-Index-Container {
    margin-left: 232px;
    margin-top: 96px;
    position: fixed;
    z-index: 4;
    height: 100vh;
    width: 100vh;
}

.Summary-Box-Container {
    display: flex;
    align-items: center;
    margin-top: 110px;
}

.Headline-Join-360 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin-left: 80px;
}

.Headline-Blue-Line {
    height: 63px;
    border: 2px solid #29ABE2;
    border-radius: 3px;
    margin-left: 20px;
}

.Headline-Join-360-Text {
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    margin-left: 20px;
}

.To-Do-Six-Box-Container {
    margin-left: 80px;
    width: 560px;
    height: 562px;
}

.First-Two-Box-Container {
    display: flex;
    margin-top: 50px;
}

.To-Do-Box {
    height: 168px;
    width: 264px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Done-Box {
    height: 168px;
    width: 264px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}

.Circle-Logo-Container {
    display: flex;
    align-items: center;
    position: relative;
}

.Pencil-Icon {
    position: absolute;
    left: 18px;
}

.Checked-Icon {
    position: absolute;
    left: 15px;
}

.Counter-To-Do {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.Counter-Done {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.To-Do-Box-Text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.Done-Box-Text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.Counter-Text-To-Do-Box-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Counter-Text-Done-Box-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}