h3 {
    width: 278px;
    height: 73px;
    font-size: 61px;
}

.add-task-box {
    position: absolute;
    width: 278px;
    height: 73px;
    gap: 1px;
    top: 170px;
    left: 390px;
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    letter-spacing: 0%;


}

.main-container-for-two-inputfield-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 24px;
}

.inputfield-box-left-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
    height: 376px;
    top: 327px;
    left: 328px;

}

.inputfield-box-right-side {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 400px;
    gap: 8px;
    top: 327px;
    left: 864.25px;
}

.text-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;

}

.text-title-mark:after {
    content: "*";
    color: red;
}

.text-priority {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 68px;
    height: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.main-box-inputfield {
    display: flex;
    gap: 8px;
}

.title-inputfield-enter-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #D1D1D1;
}

.text-inputfield-urgent {
    width: 136px;
    height: 56px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.text-inputfield-urgent::placeholder {
    color: #000000;
}

.text-inputfield-medium {
    background-color: #FFA800;
    color: white;
    width: 136px;
    height: 56px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    font-size: 21px;
    font-weight: 700;
}

.text-inputfield-medium::placeholder {
    color: #FFFFFF;
}

.text-inputfield-low {
    width: 136px;
    height: 56px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;

}

.text-inputfield-low::placeholder {
    color: #000000;
}

.description-main-box {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 168px;
    gap: 8px;
    top: 112px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.inputfield-description {
    width: 440px;
    height: 120px;
    border-width: 1px;
    gap: 10px;
    font-size: 16px;
    border-radius: 10px;
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 16px;
    color: #D1D1D1;
}

.inputfield-description::placeholder {
    color: #D1D1D1;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 20px;

}


.description-text::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;

}

.inputfield-due-date-container {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 96px;
    gap: 8px;
    top: 296px;
    left: 0.25px;
}

.due-date-mark:after {
    content: "*";
    color: red;
}

.due-date-text-field {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #D1D1D1;
    width: 440px;
    height: 48px;
    border-width: 1px;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
}

.assigned-inputfield-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
    height: 80px;
    gap: 8px;
    color: #2A3647;
}


.task-inputfield-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
    height: 80px;
    gap: 8px;
    color: #2A3647;

}


.subtask-inputfield-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
    height: 80px;
    gap: 8px;
    color: #2A3647;
}

.inputfield-text-assign {
    width: 440px;
    height: 48px;
    border-width: 1px;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-size: 20px;
    font-weight: 400;
}

.inputfield-text-assign::placeholder {
    color: #000000;
}

.inputfield-category-assign {
    height: 48px;
    width: 440px;
    border-width: 1px;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-size: 20px;
    font-weight: 400;
}


.inputfield-category-assign::placeholder {
    color: #000000;
}

.category-mark:after {
    content: "*";
    color: red;
}

.inputfield-subtask-assign {
    height: 48px;
    width: 440px;
    border-width: 1px;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-size: 20px;
    font-weight: 400;
}

.field-required {
    position: absolute;
    width: 170px;
    height: 27px;
    top: 926px;
    left: 400px;

}

.field-required:before {
    content: "*";
    color: red;
}

.clear-create-container {
    display: flex;
    position: absolute;
    width: 309px;
    height: 56px;
    gap: 16px;
    top: 889px;
    left: 995.25px;

}

.clear-field {
    width: 110px;
    height: 56px;
    border-width: 1px;
    gap: 4px;
    border-radius: 10px;
    padding: 16px;
    color: #2A3647;
    border: solid 1px #2A3647;

}

.clear-text {
    width: 50px;
    height: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #2A3647;


}

.create-field {
    width: 183px;
    height: 56px;
    gap: 4px;
    border-radius: 10px;
    padding: 16px;
    background-color: #2A3647;

}

.text-create-field {
    width: 123px;
    height: 24px;
    font-family: Inter;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;

}


/* Icons */

.double-arrowup-box-up {
    position: absolute;
    width: 20px;
    height: 14.51px;
    color: #FF3D00;
    left: 950px;
    bottom: 595px;
}

.double-arrowup-box-down {
    position: absolute;
    width: 20px;
    height: 14.51px;
    left: 1210px;
    bottom: 595px;
    color: #7AE229;
}

.calendar-clock {
    position:relative;
    width: 18px;
    height: 20px;
    top: 14px;
    left: 400px;
    top: 72px;
    color: #2A3647;
}