* {
    font-family: "Beiruti", sans-serif;
}

body {
    font-size: 30px;
    margin: 0px;
}

h1 {
    font-size: 70px;
    text-align: center;
    padding: 30px;
}

.input-container {
    display: flex;
    padding: 30px;
    justify-content: space-around;

}

.npa-container {
    display: flex;
    justify-content: space-around;
}

.npa-padding {
    padding: 20px;
}