* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'inter';
}

body {
  background-color: #F6F7F8;
}

.blue-arrow-left {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.3s ease-in-out;
}

.blue-arrow-left:hover {
  border-radius: 100%;
  background-color: #d1d1d1;
  transform: scale(1.15);
}

.blue-color {
  color: rgba(41, 171, 226, 1);
}

.hide {
  display: none;
}

@media screen and (max-width: 1400px)  {

  .info-pages {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
  }

  .privacy-policy-headline {
    margin-top: 40px;
    font-size: 75px;
    margin-bottom: 40px;
  }

  .blue-arrow-left {
    display: none;
  }

  .legal-notice-headline {
    margin-top: 40px;
    font-size: 75px;
    margin-bottom: 40px;
  }

}